languagetool-core/src/main/resources/org/languagetool/rules/attributes-de.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.languagetool.org">
    <!-- TODO -->
    <xs:attribute name="pos" type="xs:token"/>
    <xs:attribute name="tense" type="xs:token" />
    <xs:attribute name="person" type="xs:token" />
    <xs:attribute name="number" type="xs:string" />
</xs:schema>
